
@mixin flex-layout($direction: row, $justify-content:flex-start, $align-items:flex-start){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin grid-layout($columns:1){
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin grid-columns($start-column, $end-column){
  grid-column: $start-column / $end-column;
  grid-column-start: $start-column;
  grid-column-end: $end-column;
}
