*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'mixins';


body{
  @include dimensions(100%, 100vh);
  @include flex-box(center, center);
}

.container-wrapper{
  .container{
    @include flex-box(center, center);
    position: relative;
    @import 'cards';
  }
}
