
.header{

  // background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
  @include tablet-screen{
    // background-color: brown;
  }

  @include mobile-screen{
    // margin-top: 2rem;
  }

  

}